<div class="flex flex-column align-items-center justify-content-center p-2 mr-2 ml-2">
    <div class="flex align-items-start justify-content-start flex-column col-7 md:col-7 border-double border-round-xl border-bluegray-200 surface-overlay shadow-8">
        <div class="flex  flex-row col-12 md:col-12" style="padding:0px;">
            <div class="flex align-items-center justify-content-center">
                <img *ngIf="post.user.profileImage == undefined || post.user.profileImage == null" class="border-circle" style="width:50px; height:50px;" src="../../../assets/images/avatar.png" alt="avatar">
                <img *ngIf="!!post.user.profileImage" class="border-circle" [src]="getImageUrl(post.user.profileImage.content,post.user.profileImage.fileName)" alt="avatar" style="width:50px; height:50px;">
            </div>
            <div class="col-12 md:col-12" style="padding:0px;">
                <div class="flex justify-content-between  ml-2 text-lg col-10 md:col-10" style="padding:0px;">
                    <div class="flex align-items-center justify-content-center">
                        {{post.user.firstName+" "+post.user.lastName}}
                    </div>
                    <div class="flex align-items-center justify-content-center" style="font-size:0.8rem;">
                        Posted On
                    </div>
                </div>
                <div class="flex justify-content-between  ml-2 text-lg text-color-secondary col-10 md:col-10" style="padding:0px;">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-map-marker mr-1"></i>{{post.location.name}}
                    </div>
                    <div class="flex align-items-start justify-content-start" style="font-size:0.8rem;">
                        {{post.publishedOn | longDateTime}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-12 mt-2 mb-2">
            {{post.description}}
        </div>
        <div class="card w-12 border-round-xl"  style="background:black;">
            <div style="padding:15px;">
                <p-galleria [value]="post.photos" [showItemNavigators]="post.photos.length > 1 ? true : false" [showThumbnails]="false" [showIndicators]="post.photos.length > 1 ? true : false" 
                    [responsiveOptions]="responsiveOptions" [showIndicatorsOnItem]="post.photos.length > 1 ? true : false" 
                    [containerStyle]="{'max-height': '300px' }">
                    <ng-template pTemplate="item" let-item>
                            <img [src]="getImageUrl(item.content, item.fileName)" alt="{{item.fileName}}" style=" max-height:300px; display: block;" />
                    </ng-template>
                    <ng-template  pTemplate="thumbnail" let-item>
                    <div  class="grid grid-nogutter justify-content-center">
                        <img [src]="getImageUrl(item.content, item.fileName)" alt="{{item.fileName}}" style="display: block; width:50px;" />
                    </div>
                    </ng-template>
                </p-galleria>
            </div>
        </div>
        <div class="col-12 md:col-12 mt-1 mb-1 flex align-items-center justify-content-center">
            <div *ngIf="!isLiked" class="flex flex-column">
                <div class="flex align-items-center justify-content-center">
                    <a (click)="likePost()" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
                        <i *ngIf="isHovered" class="pi pi-heart-fill post-liked" pTooltip="Like" tooltipPosition="top">
                        </i>
                        <i *ngIf="!isHovered"class="pi pi-heart post-not-liked" pTooltip="Like" tooltipPosition="top">
                        </i>
                    </a>
                </div>
                <div class="flex align-items-center justify-content-center mt-1" style="margin-bottom: 0px;">
                    <span *ngIf="post.likes.length + likesCount == 0">
                        Be the first person who likes this post.
                    </span>
                    <span *ngIf="post.likes.length + likesCount > 0">
                        {{post.likes.length + likesCount}} people liked this post.
                    </span>
                </div>
            </div>
            <div *ngIf="isLiked" class="flex flex-column">
                <div class="flex align-items-center justify-content-center">
                    <a (click)="dislikePost()" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
                        <i *ngIf="!isHovered" pTooltip="Dislike"  tooltipPosition="top" class="pi pi-heart-fill post-liked">
                        </i>
                        <i *ngIf="isHovered" pTooltip="Dislike"  tooltipPosition="top" class="pi pi-heart post-not-liked">
                        </i>
                    </a>
                </div>
                <div class="flex align-items-center justify-content-center mt-1" style="margin-bottom: 0px;">
                    <span *ngIf="post.likes.length - 1 + likesCount == 0">
                        Only you liked this post.
                    </span>
                    <span *ngIf="post.likes.length - 1 + likesCount> 0">
                        You and {{post.likes.length - 1 + likesCount}} other(s) liked this post.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>