.main {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.invalid {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 1rem;
}

.blue {
    color: var(--surface-500);
}

.green {
    color: var(--primary-color);
}

.message {
    font-size: 1rem;
    color: var(--text-color);
}

.uri {
    color: var(--text-color-secondary);
}
