::ng-deep .field {
    margin-bottom: 1.1rem;
}

::ng-deep .field>label {
    display: inline;
}

::ng-deep .p-galleria .p-galleria-item-nav{
    width:2rem !important;
    height:2rem !important;
  }

  ::ng-deep .p-galleria .p-galleria-item-nav .p-galleria-item-prev-icon,
  ::ng-deep .p-galleria .p-galleria-item-nav .p-galleria-item-next-icon {
    font-size: 1rem !important;
  }

  ::ng-deep .p-inputtext{
    border-radius:10px;
  }