<travelpics-loader class="mt-12" [isLoading]="isLoading" [loadingMessage]="'Loading Map...'"></travelpics-loader>

<div *ngIf="!isLoading" class="map-container mt-2 mb-2">
    <agm-map [zoom]="zoom" class="custom-map" [maxZoom]="6" [minZoom]="3" 
        (zoomChange)="onZoomChange($event)">
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.long" [iconUrl]="'https://maps.google.com/mapfiles/ms/icons/grn-pushpin.png'" class="custom-marker" style="width: 50px; height: 50px;">
        <agm-info-window>
                <div class="flex flex-column flex-wrap">
                    <div class="mt-1 mb-1">
                        <p-galleria [value]="marker.photos" [showItemNavigatorsOnHover]="true" [showItemNavigators]="marker.photos.length > 1 ? true : false" [showThumbnails]="false"  
                            [containerStyle]="{'max-height': '400px' }">
                            <ng-template pTemplate="item" let-item>
                                    <img  [src]="getImageUrl(item.content, item.fileName)" alt="{{item.fileName}}" style="width: 200px; display: block; height:auto;" />
                            </ng-template>
                            <ng-template  pTemplate="thumbnail" let-item>
                            <div  class="grid grid-nogutter justify-content-center">
                                <img  [src]="getImageUrl(item.content, item.fileName)" alt="{{item.fileName}}" style="width: 200px; display: block; height:auto;" />
                            </div>
                            </ng-template>
                        </p-galleria>
                        <div class="badge">{{marker.photos.length}}</div>
                    </div>
                    <div class="description mt-1">
                        <span><i>Total posts: </i><b class="cursor-pointer" (click)="navigateToPosts(marker.posts)">{{marker.posts.length}}</b></span>
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>


  
  