.navigation-menu-content{
    min-height: 100vh;
    margin:0 auto;
    position: relative; 

    p{
        padding:20px;
        margin:0;
        font-size:1.1rem;
        color:var(--text-color-secondary);
    }
    ::ng-deep .p-divider.p-divider-horizontal{
        margin:0;
    }

    .logout-area{
        position: absolute; 
        bottom: 80px; 
        width: 100%; 
        color:var(--text-color-secondary);
        .logout-action{
            margin-top:10px;
            margin-left:20px;
            font-size:1.1rem;
        }
    }

    .menu-area{
        position: fixed;
        margin: 0 auto;
        background-color: var(--surface-100);
        padding: 0;
        z-index: 0;
        height:100%;
    }
}