<div class="col-12 md:col-12">
    <div class="flex flex-column">
        <div class="flex align-items-start justify-content-start flex-column">
            <div class="flex flex-wrap flex-row card-container">
                <div class="flex align-items-center justify-content-center">
                    <img *ngIf="user.profileImageSrc == ''" src="../../../assets/images/avatar.png" alt="avatar" class="border-circle" style="width:50px; height:50px;">
                    <img *ngIf="user.profileImageSrc != ''" [src]="user.profileImageSrc" alt="avatar" class="border-circle" style="width:50px; height:50px;">
                </div>
                <div class="flexalign-items-center justify-content-center">
                    <div class="ml-2 text-lg">{{user.name}}</div>
                    <div class="ml-2 text-lg"><i class="pi pi-map-marker location-icon"></i>{{post.location.name}}</div>
                </div>
            </div>
            <div class="col-12">
                {{post.description}}
            </div>
            <div class="card w-12" style="background:black;">
                <div style="padding:15px;">
                <p-galleria [value]="images" [showItemNavigators]="images.length > 1 ? true : false" [showThumbnails]="false" [showIndicators]="images.length > 1 ? true : false" 
                    [responsiveOptions]="responsiveOptions" [showIndicatorsOnItem]="images.length > 1 ? true : false" 
                    [containerStyle]="{'max-height': '300px' }">
                    <ng-template pTemplate="item" let-item>
                      <img [src]="item.itemImageSrc" style=" max-height:300px; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                      <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block; width:50px;" />
                      </div>
                    </ng-template>
                  </p-galleria>
                </div>
            </div>
        </div>
    </div>
</div>