<p-menubar [model]="items" class="main-menu" >
    <ng-template pTemplate="start" style="height:70px;" class="mr-8">
        <img (click)="goToMainPage()" src="../../../assets/travelpics-logo.png" class="brand-logo" alt="TravelPics logo">
        <p-autoComplete [disabled]="!isUserLoggedIn" [(ngModel)]="searchKeyword" [suggestions]="results" (completeMethod)="search($event)" 
            [minLength]="3" placeholder="Search" [showEmptyMessage]="true" (onHide)="onAutoCompleteHide()" (onSelect)="goToResource($event)">
            <ng-template let-result pTemplate="item">
                <label class="label-item">
                    <i *ngIf="result.entityTypeId == 1" class="pi pi-fw pi-user"></i>
                    <i *ngIf="result.entityTypeId == 2" class="pi pi-map-marker"></i>
                    {{result.name}}
                </label>
            </ng-template>
        </p-autoComplete>
    </ng-template>

    <ng-template pTemplate="end" style="height:70px;">
        <div *ngIf="isUserLoggedIn && !!displayUserInfo && !loadingDisplay">
            <div class="flex inline-block">
                <img *ngIf="displayUserInfo.profileImageSrc == ''" class="border-circle mt-2" src="../../../assets/images/avatar.png" alt="avatar" class="border-circle" style="width:50px; height:50px;">
                <img *ngIf="displayUserInfo.profileImageSrc != ''" [src]="displayUserInfo.profileImageSrc" alt="avatar" class="border-circle mt-2" style="width:50px; height:50px;">
                <p class="ml-2 text-lg">{{displayUserInfo.name}}</p>
            </div>
        </div>
        <div *ngIf="!isUserLoggedIn">
            <span style="margin-right:5px;"><i class="pi pi-sign-in"></i></span>
            <a (click)="goToLogin()"> Log in</a>
        </div>
    </ng-template>
</p-menubar>

<p-overlayPanel #notificationPanel [showCloseIcon]="true" (onShow)="readNotifications()">
    <ng-template pTemplate="content">
        <travelpics-loader class="mt-4 mb-4" [isLoading]="newNotifications.length == 0" [loadingMessage]="'Retrieving notifications'"></travelpics-loader>
        <div *ngFor="let notif of newNotifications" class="w-12 flex align-items-center justify-content-start mt-0 mb-0" 
            [ngClass]="isNotificationRead(notif) ? 'notif-read' : 'notif-unread'" style="border-bottom: 1px solid var(--surface-300);">
            <div class="mb-2 mr-1 ml-4 mt-2 flex align-items-center justify-content-start">
                <img *ngIf="notif.notificationLog.sender == null || notif.notificationLog.sender.profileImage == null" class="border-circle" style="width:50px; height:50px;" src="../../../assets/images/avatar.png" alt="avatar">
                <img *ngIf="!!notif.notificationLog.sender && !!notif.notificationLog.sender.profileImage" class="border-circle" [src]="getImageUrl(notif.notificationLog.sender.profileImage.content,notif.notificationLog.sender.profileImage.fileName)" alt="avatar" style="width:50px; height:50px;">
                <span class="ml-2">{{notif.subject}}</span>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
  
