<p-menubar [model]="items" class="main-menu">
    <ng-template pTemplate="start" style="height:70px;">
        <img src="../../../assets/travelpics-logo.png" class="brand-logo" alt="TravelPics logo">
        <input type="text" pInputText placeholder="Search">
    </ng-template>

    <input type="text" pInputText placeholder="Search">


    <ng-template pTemplate="end" style="height:70px;">
        <div *ngIf="isUserLoggedIn">
            <span style="margin-right:5px;"><i class="pi pi-cog"></i></span>
            <a (click)="logout()" style="margin-right: 20px;">My Account</a>
            <span style="margin-right:5px;"><i class="pi pi-sign-out"></i></span>
            <a (click)="logout()">Logout</a>
        </div>
        <div *ngIf="!isUserLoggedIn">
            <span style="margin-right:5px;"><i class="pi pi-sign-in"></i></span>
            <a (click)="goToLogin()"> Log in</a>
        </div>
    </ng-template>
</p-menubar>
