@import '../../../styles/variables.scss';
.brand-logo {
    margin-right: 40px;
    width: $brandLogoWidth;
    margin-left: 10px;
    cursor:pointer;
}

.notif-read{
    background-color: white;
}

.notif-read:hover{
    background-color: var(--surface-300);
}

.notif-unread{
    background-color: var(--surface-200);
}

::ng-deep .p-autocomplete-items{
    .p-autocomplete-item{
        .label-item{
            cursor:pointer;
        }
    }
}
