.new-post {
    padding: 1rem;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    -webkit-box-shadow: 0px 0px 30px -6px rgba(92, 112, 102, 1);
    -moz-box-shadow: 0px 0px 30px -6px rgba(92, 112, 102, 1);
    box-shadow: 0px 0px 30px -6px rgba(92, 112, 102, 1);
    border-radius: 10px;
    border: 0px solid;
}

.post-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-section {
    width: 80%;
    .description-area {
        border: none;
        outline: none;
        resize: none;
    }
    .description-area:enabled:focus {
        border: none;
        outline: none;
        resize: none;
        box-shadow: none;
    }
    .location-icon{
        color: var(--primary-color);
        margin-right:5px;
        font-size: 1.2rem;
    }
}