.travelpics-container {
    width: 100%;
    .travelpics-menubar {
        height: 70px;
        box-shadow: 0px 5px 6px #CED4DA;
        z-index: 10;
        .travelpics-menubar-panel {
            display: flex;
            flex-direction: row;
        }
    }
    .travelpics-content {
        height: calc(100% - 70px);
        background-image: url('../assets/images/background.jpg?v=1');
        background-size: cover;
        background-position: center;
        .content-page {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 60%;
            max-width: 1900px;
            margin: 0 auto;
        }
    }

}
