.profile-menu-content {
    margin:0;
    padding:4% 10% 0 10%;
    
    .profile{
        border-right: 3px solid var(--green-50);
        background-color: var(--green-50);
        .image-profile{
            height:200px;
        }
        .change-image-btn::ng-deep .p-fileupload{
            .p-fileupload-buttonbar{
                padding: 0px !important;
                border:0 !important;
                background: none !important;
                .p-button 
                {
                    margin:0;
                    .p-button-icon-left{
                        margin-right:2px;
                        font-size: 1.2rem;
                    }
                }
            }
             .p-fileupload-content{
                display:none !important;
            }
        }
    }
    .user-info-content{
        .form-section {
    
            .field {
                margin-right: 150px;
                margin-left: 150px;
            }
            .buttons {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px 0;
                justify-content: center;
                border-top: 1px solid var(--surface-border);
            }
        }
    }
}